*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  font-family: "Noto Sans TC", sans-serif;
  line-height: 1.5;
  letter-spacing: 0.05em;
  color: $neutral-900;
}

.container {
  max-width: 1320px;
  margin: 0 auto;
  padding: 0 12px;
}

a {
  text-decoration: none;
  display: inline-block;
}

img {
  max-width: 100%;
  height: auto;
  display: block;
}

.mx-auto {
  margin-left: auto;
  margin-right: auto;
}

.d-flex {
  display: flex;
}

.row {
  margin-left: -12px;
  margin-right: -12px;
}

.col-2 {
  max-width: calc(1320px * 2 / 12);
  padding-right: 12px;
  padding-left: 12px;
}

.col-8 {
  max-width: calc(1320px * 8 / 12);
  padding-right: 12px;
  padding-left: 12px;
}

.col-10 {
  max-width: calc(1320px * 10 / 12);
  padding-right: 12px;
  padding-left: 12px;
}

.rounded-sm {
  border-radius: $radius-sm;
}
.rounded-md {
  border-radius: $radius-md;
}
.rounded-circle {
  border-radius: $radius-rounded;
}
