<header class="header d-flex container bg-white">
  <div class="header-nav d-flex">
    <h1>
      <a href="index.html">URBNSTEP</a>
    </h1>
    <ul class="d-flex d-md-none">
      <li><a href="product-list.html">商品列表</a></li>
      <li><a href="brand-story.html">品牌故事</a></li>
    </ul>
  </div>
  <a href="login.html"><i class="bi bi-person fz-6"></i></a>
</header>
