.breadcrumb {
  display: flex;
  font-weight: $weight-medium;
}
.breadcrumb-item {
  a {
    color: $neutral-600;
    &:hover {
      color: $primary-400;
    }
  }
  &.active {
    color: $neutral-900;
  }
}
.breadcrumb-item+.breadcrumb-item{
  padding-left: 12px;
    &::before {
    content: "/";
    padding-right: 12px;
    color: $neutral-300;
  }
}


.pagination {
  margin-bottom: 32px;
  display: flex;
  justify-content: center;
  gap: 8px;
  a {
    color: $neutral-900;
    padding: 8px 15px;
    &:hover {
      background: $neutral-100;
    }
    &.active {
      background: $primary-300;
    }
    &.disabled {
      color: $neutral-500;
      pointer-events: none;
    }
  }
}

.btn-neutral-filled {
  padding: 12px 24px;
  color: $white;
  background: $neutral-900;
  border-radius: $radius-sm;
  border: 1px solid $neutral-900;
  font-weight: $weight-medium;
  &:hover {
    background: $neutral-700;
  }
  &:focus {
    background: $neutral-700;
    box-shadow: 0px 0px 0px 3px #2125291A;
  }
}

.btn-neutral-outlined {
  padding: 12px 24px;
  color: $neutral-900;
  background: $white;
  border-radius: $radius-sm;
  border: 1px solid $neutral-900;
  font-weight: $weight-medium;
  &:hover {
    color: $white;
    background: $neutral-900;
  }
  &:focus {
    color: $white;
    background: $neutral-900;
    box-shadow: 0px 0px 0px 3px #2125291A;
  }
}

.option {
  width: 160px;
  padding: 12px 24px;
  color: $neutral-900;
  background: $white;
  border-radius: $radius-sm;
  border: 1px solid $neutral-300;
  font-weight: $weight-medium;
  font-size: 16px;
  line-height: 1.5;
  &:hover {
    border: 1px solid $neutral-600;
  }
  &:focus, &.active {
    border: 1px solid $neutral-900;
  }
  &.disabled {
    color: $neutral-300;
    pointer-events: none;
  }
}

.img-option {
  width: 64px;
  display: flex;
  flex-direction: column;
  gap: 4px;
  background: $white;
  border: none;
  padding: 0;
  span {
    font-size: 16px;
    line-height: 1.5;
    color: $neutral-600;
    font-weight: $weight-medium;
  }
  &:hover {
    img {
      opacity: 0.8;
    }
  }
  &:focus {
    img {
      border: 1px solid $neutral-900;
      opacity: 1;
    }
    span {
      color: $neutral-900;
    }
  }
  &.disabled {
    opacity: 0.4;
    pointer-events: none;
  }
}