.title {
  font-weight: $weight-bold;
  line-height: 1.2;
}

.text-center {
  text-align: center;
}

.strikethrough {
  text-decoration: line-through;
}

.fz-16 {
  font-size: 64px;
}
.fz-12 {
  font-size: 48px;
}
.fz-10 {
  font-size: 40px;
}
.fz-8 {
  font-size: 32px;
}
.fz-7 {
  font-size: 28px;
}
.fz-6 {
  font-size: 24px;
}
.fz-5 {
  font-size: 20px;
}
.fz-4 {
  font-size: 16px;
}
.fz-3\.5 {
  font-size: 14px;
}
.fz-3 {
  font-size: 12px;
}

.fw-normal {
  font-weight: $weight-regular;
}
.fw-medium {
  font-weight: $weight-medium;
}
.fw-bold {
  font-weight: $weight-bold;
}
