.footer{
  padding-top: 64px;
  padding-bottom: 64px;
  @media (max-width: 768px) {
    padding-top: 32px;
    padding-bottom: 32px;
  }
  .footer-nav {
    display: flex;
    justify-content: space-between;
    margin-bottom: 24px;
    ul {
      display: flex;
      gap: 40px;
      a {
        padding: 12px 0;
        color: $neutral-900;
        font-weight: $weight-medium;
        &:hover {
          color: $neutral-600;
        }
        &:focus {
          color: $neutral-900;
          padding-bottom: 10px;
          border-bottom: 2px solid;
        }
      }
    }
    @media (max-width: 768px) {
      flex-direction: column;
      ul {
        margin-top: 8px;
        flex-direction: column;
        gap: 4px;
        padding-left: 12px;
        a {
          width: 100%;
        }
      }
    }
  }
  .copyright {
    padding-top: 32px;
    border-top: 1px solid $neutral-300;
    p {
      padding-bottom: 4px;
      &:last-child {
        padding-bottom: 0;
      }
    }
  }
}