.my-favorites {
  margin-top: 64px;
  margin-bottom: 64px;
  h2 {
    margin-bottom: 32px;
    i::before {
      margin-right: 16px;
      color: $primary-500;
      background: $primary-300;
      padding: 8px;
      border-radius: $radius-rounded;
    }
  }
  .note {
    padding: 16px;
    margin-bottom: 32px;
    display: flex;
    align-items: center;
    i {
        margin-right: 12px;
    }
  }
  li {
    padding-bottom: 32px;
    border-bottom: 1px solid $neutral-300;
    margin-bottom: 32px;
  }
}
.favorites-item{
  display: flex;
  img {
    width: 120px;
    margin-right: 12px;
  }
}
.favorites-item-info {
  flex: 1;
  .label {
    margin-left: 12px;
    letter-spacing: 0;
  }
  h4 {
    text-align: end;
  }
  &:hover {
    color: $primary-400;
  }
}