.product-detail-main {
  margin-bottom: 64px;
  .image-list{
    display: flex;
    flex-wrap: wrap;
    align-content:flex-start;
    gap: 8px;
    img {
      width: calc((100% - 8px) / 2);
    }
  }

  h2 {
    margin-top: 12px;
    margin-bottom: 16px;
  }
  .price {
    display: flex;
    align-items: center;
    gap: 8px;
    margin-bottom: 16px;
    span {
      line-height: 1.5;
    }
  }
  .intro {
    > p:first-child {
      margin-bottom: 12px;
    }
    > p:nth-child(2) {
      margin-bottom: 32px;
    }
  }

  @media (max-width: 768px) {
    margin-bottom: 40px;
    .image-list img{
      max-width: none;
      width: calc(100% + 24px);
      margin-left: -12px;
      margin-bottom: 24px;
    }
    h2 {
      margin-top: 8px;
      margin-bottom: 12px;
      font-size: 24px;
    }
    .price {
      font-size: 16px;
      margin-bottom: 12px;
    }
  }


  .color {
    display: flex;
    flex-direction: column;
    gap: 8px;
    margin-bottom: 32px;
    ul {
      display: flex;
      gap: 8px;
    }
  }
  .size {
    display: flex;
    flex-direction: column;
    gap: 8px;
    margin-bottom: 48px;
  }
  .size-list {
    display: flex;
    gap: 8px;
    flex-wrap: wrap;
    button {
      letter-spacing: 0.05em;
    }
  }
  .product-actions{
    display: flex;
    gap: 8px;
    text-align: center;
    margin-bottom: 32px;
    button {
      flex: 1;
    }
    i {
      margin-right: 8px;
    }
  }
  .detail-notes {
    div {
      padding-top: 12px;
      padding-bottom: 12px;
      border-bottom: 1px solid $neutral-300;
    }
    h4 {
      font-weight: $weight-medium;
      margin-bottom: 4px;
    }
    p {
      color: $neutral-600;
    }
  }
  @media (max-width: 768px) {
    .color {
      margin-bottom: 24px;
    }
    .size {
      margin-bottom: 24px;
    }
    .product-actions {
      align-items: center;
    }
    button.btn-icon {
      flex: 0;
      border: none;
      background: none;
      i {
        margin-right: 0;
      }
    }
  }
}