<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>首頁 | URBNSTEP</title>
  </head>
  <body>
    <%- include('./layout/header'); -%>

    <div class="index">
      <section class="banner">
        <div class="banner-text">
          <h2 class="title fz-16 text-white">URBNSTEP</h2>
          <h3 class="title fz-7 text-white">Your Step, Your Statement</h3>
          <a href="#" class="btn-primary">立即搶購</a>
        </div>
      </section>
      <section class="new-arrival container">
        <h4 class="fz-12 text-center title">
          New Arrival <br />
          <span class="fz-8">新品上市</span>
        </h4>
        <ul class="row d-flex">
          <li class="col-6">
            <a href="#">
              <img src="../assets/images/index/new-1.png" alt="Monoverse" />
              <h5 class="title fz-5">Monoverse</h5>
              <span>NT$3,600</span>
            </a>
          </li>
          <li class="col-6">
            <a href="product-detail.html">
              <img src="../assets/images/index/new-2.png" alt="PLATFORM 404" />
              <h5 class="title fz-5">PLATFORM 404</h5>
              <span>NT$2,600</span>
            </a>
          </li>
          <li class="col-6">
            <a href="#">
              <img src="../assets/images/index/new-3.png" alt="URBN Force" />
              <h5 class="title fz-5">URBN Force</h5>
              <span>NT$3,200</span>
            </a>
          </li>
          <li class="col-6">
            <a href="#">
              <img src="../assets/images/index/new-4.png" alt="Mode90" />
              <h5 class="title fz-5">Mode90</h5>
              <span>NT$4,000</span>
            </a>
          </li>
        </ul>
      </section>
      <section class="best-seller container">
        <h4 class="title fz-8">熱銷補貨</h4>
        <ul class="row d-flex">
          <li class="col-3">
            <a href="#">
              <img
                src="../assets/images/product-list/product-3.png"
                alt="Melty Kiss"
              />
            </a>
            <span class="badge fz-3.5 text-highlight bg-primary-100">
              人氣 No.1
            </span>
          </li>
          <li class="col-3">
            <a href="product-detail.html">
              <img
                src="../assets/images/product-list/product.png"
                alt="PLATFORM 404"
              />
            </a>
            <span class="badge fz-3.5 text-highlight bg-primary-100">
              人氣 No.1
            </span>
          </li>
          <li class="col-3">
            <a href="#">
              <img
                src="../assets/images/product-list/product-6.png"
                alt="R:UNER"
              />
            </a>
            <span class="badge fz-3.5 text-highlight bg-primary-100">
              人氣 No.1
            </span>
          </li>
          <li class="col-3">
            <a href="#">
              <img
                src="../assets/images/product-list/product-4.png"
                alt="BOOMBLOK"
              />
            </a>
            <span class="badge fz-3.5 text-highlight bg-primary-100">
              人氣 No.1
            </span>
          </li>
        </ul>
      </section>
      <section class="sale text-center">
        <div>
          <h2 class="title fz-12 text-white">
            URBNSTEP <span>x</span> Kevin Chen
          </h2>
          <h3 class="title fz-8 text-white">跨界聯名，限量發售</h3>
          <p class="text-muted fz-5">
            新銳漫畫家 Kevin Chen 親自操刀設計，街頭能量全面引爆！
          </p>
          <a href="#" class="btn-primary">立即搶購</a>
        </div>
      </section>
      <section class="series container">
        <h4 class="title fz-8">依系列選購</h4>
        <ul class="row d-flex">
          <li class="col-3">
            <a href="#">
              <img
                src="../assets/images/product-list/product-6.png"
                alt="URBN RUNNER 慢跑系列"
              />
              <div class="title-on-img">
                <h5 class="title fz-7">URBN RUNNER</h5>
                <h6 class="title fz-6">慢跑系列</h6>
              </div>
            </a>
          </li>
          <li class="col-3">
            <a href="#">
              <img
                src="../assets/images/index/product-11.png"
                alt="STREETMODE 滑板系列"
              />
              <div class="title-on-img">
                <h5 class="title fz-7">STREETMODE</h5>
                <h6 class="title fz-6">滑板系列</h6>
              </div>
            </a>
          </li>
          <li class="col-3">
            <a href="#">
              <img
                src="../assets/images/product-list/product-4.png"
                alt="CHUNK DISTRICT 厚底系列"
              />
              <div class="title-on-img">
                <h5 class="title fz-7">CHUNK DISTRICT</h5>
                <h6 class="title fz-6">厚底系列</h6>
              </div>
            </a>
          </li>
          <li class="col-3">
            <a href="#">
              <img
                src="../assets/images/index/product-10.png"
                alt="COLLAB ZONE 聯名企劃"
              />
              <div class="title-on-img">
                <h5 class="title fz-7">COLLAB ZONE</h5>
                <h6 class="title fz-6">聯名企劃</h6>
              </div>
            </a>
          </li>
        </ul>
      </section>

      <section class="style container">
        <h4 class="title fz-8">穿搭靈感</h4>
        <div class="style-content d-flex">
          <div class="mr-2">
            <div class="d-flex mb-2 small-img">
              <img
                src="../assets/images/index/inspiration-1.png"
                alt="inspiration-1"
                class="mr-2"
              />
              <img
                src="../assets/images/index/inspiration-2.png"
                alt="inspiration-2"
              />
            </div>
            <img
              src="../assets/images/index/inspiration-3.png"
              alt="inspiration-3"
            />
          </div>
          <div class="small-img mr-2">
            <div class="d-flex mb-2">
              <img
                src="../assets/images/index/inspiration-4.png"
                alt="inspiration-4"
                class="mr-2"
              />
              <img
                src="../assets/images/index/inspiration-5.png"
                alt="inspiration-5"
              />
            </div>
            <div class="d-flex mb-2">
              <img
                src="../assets/images/index/inspiration-6.png"
                alt="inspiration-6"
                class="mr-2"
              />
              <img
                src="../assets/images/index/inspiration-7.png"
                alt="inspiration-7"
              />
            </div>
            <div class="d-flex mb-2">
              <img
                src="../assets/images/index/inspiration-8.png"
                alt="inspiration-8"
                class="mr-2"
              />
              <img
                src="../assets/images/index/inspiration-9.png"
                alt="inspiration-9"
              />
            </div>
          </div>
          <div>
            <img
              src="../assets/images/index/inspiration-10.png"
              alt="inspiration-10"
              class="mb-2"
            />
            <div class="d-flex mb-2 small-img">
              <img
                src="../assets/images/index/inspiration-11.png"
                alt="inspiration-11"
                class="mr-2"
              />
              <img
                src="../assets/images/index/inspiration-12.png"
                alt="inspiration-12"
              />
            </div>
          </div>
        </div>
      </section>
    </div>

    <%- include('./layout/pre-footer-banner'); -%> <%-
    include('./layout/footer'); -%>

    <script type="module" src="../main.js"></script>
  </body>
</html>
