<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>我的收藏 My Favorites | URBNSTEP</title>
  </head>
  <body>
    <%- include('./layout/header'); -%>

    <div class="container my-favorites">
      <div class="row">
        <div class="col-6 col-md-4 mx-auto">
          <h2 class="title fz-7 text-center">
            <i class="bi bi-check2 fz-6"></i>我的收藏
          </h2>
          <div class="note text-highlight bg-primary-100">
            <i class="bi bi-truck fz-6"></i>
            <p>
              <span>門市營業時間：</span><span>週一至週五 10:00 - 22:00</span>
            </p>
          </div>
          <ul>
            <li>
              <a href="product-detail.html" class="favorites-item">
                <img
                  src="../assets/images/product-list/product.png"
                  alt="PLATFORM 404"
                />
                <div class="favorites-item-info text-primary">
                  <h3 class="title fz-5 mb-2">PLATFORM 404</h3>
                  <p class="text-secondary mb-2">
                    尺寸<span class="label text-primary fw-medium">38</span>
                  </p>
                  <p class="text-secondary mb-2">
                    顏色<span class="label text-primary fw-medium">Navy</span>
                  </p>
                  <h4 class="title">NT$2,600</h4>
                </div>
              </a>
            </li>
            <li>
              <a href="product-detail.html" class="favorites-item">
                <img
                  src="../assets/images/product-list/product-4.png"
                  alt="BOOMLOK"
                />
                <div class="favorites-item-info text-primary">
                  <h3 class="title fz-5 mb-2">BOOMLOK</h3>
                  <p class="text-secondary mb-2">
                    尺寸<span class="label text-primary fw-medium">38</span>
                  </p>
                  <p class="text-secondary mb-2">
                    顏色<span class="label text-primary fw-medium">White</span>
                  </p>
                  <h4 class="title">NT$3,200</h4>
                </div>
              </a>
            </li>
            <li>
              <a href="product-detail.html" class="favorites-item">
                <img
                  src="../assets/images/product-list/product-3.png"
                  alt="MELTY KISS"
                />
                <div class="favorites-item-info text-primary">
                  <h3 class="title fz-5 mb-2">MELTY KISS</h3>
                  <p class="text-secondary mb-2">
                    尺寸<span class="label text-primary fw-medium">38</span>
                  </p>
                  <p class="text-secondary mb-2">
                    顏色<span class="label text-primary fw-medium">Violet</span>
                  </p>
                  <h4 class="title">NT$4,000</h4>
                </div>
              </a>
            </li>
          </ul>
          <div class="text-center">
            <a href="#" class="btn-neutral-filled">立即預約門市試穿</a>
          </div>
        </div>
      </div>
    </div>

    <%- include('./layout/footer'); -%>

    <script type="module" src="../main.js"></script>
  </body>
</html>
