<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>商品列表 Product List | URBNSTEP</title>
  </head>
  <body>
    <%- include('./layout/header'); -%>

    <div class="product-list container">
      <nav>
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="index.html">首頁</a></li>
          <li class="breadcrumb-item active">所有商品</li>
        </ol>
      </nav>

      <h2 class="title fz-7">所有商品</h2>
      <div class="d-flex row">
        <aside class="col-2">
          <ul class="fw-medium">
            <li><a href="product-list.html" class="active">所有商品</a></li>
            <li><a href="#">慢跑鞋</a></li>
            <li><a href="#">滑板鞋</a></li>
            <li><a href="#">厚底鞋</a></li>
            <li><a href="#">限定 / 聯名企劃</a></li>
          </ul>
        </aside>
        <div class="col-10">
          <ul class="product-list-main">
            <li>
              <a href="#">
                <img
                  src="../assets/images/product-list/product.png"
                  alt="PLATFORM 404"
                />
                <div>
                  <h3 class="title">PLATFORM 404</h3>
                  <p>NT$2,600</p>
                </div>
              </a>
            </li>
            <li>
              <a href="#">
                <img
                  src="../assets/images/product-list/product-1.png"
                  alt="PLATFORM 404"
                />
                <div>
                  <h3 class="title">PLATFORM 404</h3>
                  <p>NT$2,600</p>
                </div>
              </a>
            </li>
            <li>
              <a href="#">
                <img
                  src="../assets/images/product-list/product-2.png"
                  alt="VM001"
                />
                <div>
                  <h3 class="title">VM001</h3>
                  <p>NT$2,600</p>
                </div>
              </a>
            </li>
            <li>
              <a href="#">
                <img
                  src="../assets/images/product-list/product-3.png"
                  alt="Melty Kiss"
                />
                <div>
                  <h3 class="title">Melty Kiss</h3>
                  <p>NT$4,000</p>
                </div>
              </a>
            </li>
            <li>
              <a href="#">
                <img
                  src="../assets/images/product-list/product-4.png"
                  alt="BOOMBLOK"
                />
                <div>
                  <h3 class="title">BOOMBLOK</h3>
                  <p>NT$3,200</p>
                </div>
              </a>
            </li>
            <li>
              <a href="#">
                <img
                  src="../assets/images/product-list/product-5.png"
                  alt="BOOMBLOK"
                />
                <div>
                  <h3 class="title">BOOMBLOK</h3>
                  <p>NT$3,200</p>
                </div>
              </a>
            </li>
            <li>
              <a href="#">
                <img
                  src="../assets/images/product-list/product-6.png"
                  alt="R:UNER"
                />
                <div>
                  <h3 class="title">R:UNER</h3>
                  <p>NT$4,000</p>
                </div>
              </a>
            </li>
            <li>
              <a href="#">
                <img
                  src="../assets/images/product-list/product-7.png"
                  alt="Sugar Snap"
                />
                <div>
                  <h3 class="title">Sugar Snap</h3>
                  <p>NT$4,000</p>
                </div>
              </a>
            </li>
            <li>
              <a href="#">
                <img
                  src="../assets/images/product-list/product-8.png"
                  alt="Neofoam"
                />
                <div>
                  <h3 class="title">Neofoam</h3>
                  <p>NT$4,000</p>
                </div>
              </a>
            </li>
          </ul>
          <nav>
            <ul class="pagination fw-medium">
              <li>
                <a href="#" class="disabled">
                  <i class="bi bi-chevron-left"></i>
                </a>
              </li>
              <li><a href="#" class="active">1</a></li>
              <li><a href="#">2</a></li>
              <li><a href="#">3</a></li>
              <li><a href="#">...</a></li>
              <li><a href="#">10</a></li>
              <li>
                <a href="#"><i class="bi bi-chevron-right"></i></a>
              </li>
            </ul>
          </nav>
        </div>
      </div>
    </div>

    <%- include('./layout/footer'); -%>

    <script type="module" src="../main.js"></script>
  </body>
</html>
